<!-- =======================
about  -->
<section id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center mb-md-0 mb-5">
                <h2 class="h1">Nosotros.</h2>
                <h6 class="mb-4 text-light-gray fw-normal">Blaxus Connect</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex">
                <img class="navbar-brand-item" src="assets/images/logos/figura.png" alt="Logo">
            </div>
            <div class="col-md-9">
                <div class="bg-grad h-100 w-100 d-table p-5 all-text-white">
                    <h2 class="font-weight-700 m-0 d-table-cell align-middle"><span class="d-block h4">Somos una empresa mexicana enfocada en ayudar a nuestros clientes a eficientar su operación a través de la creación de proyectos de Redes, Conectividad y Seguridad gracias a la experiencia de nuestros colaboradores con mas de 10 años en el sector tecnológico; lo que nos ayuda a resolver los principales retos a los que se enfrentan nuestros clientes</h2>
                </div>
            </div>
        </div>
    
        <div class="row mt-5">
            <!-- feature 1 -->
            <div class="col-md-4">
                <div class="feature-box h-100 icon-grad">
                    <div class="feature-box-icon"><i class="ti-world"></i></div>
                    <h3 class="feature-box-title">Cobertura Nacional</h3>
                </div>
            </div>
            <!-- feature 2 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-center icon-grad">
                    <div class="feature-box-icon"><i class="ti-pencil-alt"></i></div>
                    <h3 class="feature-box-title">Ingenieria Certificada</h3>
                </div>
            </div>
            <!-- feature 3 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-end icon-grad">
                    <div class="feature-box-icon"><i class="ti-search"></i></div>
                    <h3 class="feature-box-title">Enfoque Consultivo</h3>
                </div>
            </div>

            <div class="divider divider-grad mt-3 line_moving" id="scroll-line"></div>
        </div>
        <div class="row mt-5">
            <!-- feature 1 -->
            <div class="col-md-4">
                <div class="feature-box h-100 icon-grad">
                    <div class="grafico-circular"></div>
                    <h3 class="feature-box-title mt-3">Nuestros proyectos se desarrollan en la industria privada.</h3>
                </div>
            </div>
            <!-- feature 2 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-center icon-grad">
                    <div class="grafico-circular"></div>
                    <h3 class="feature-box-title mt-3">En la satisfaccion de nuestros clientes.</h3>
                </div>
            </div>
            <!-- feature 3 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-end icon-grad">
                    <div class="grafico-circular"></div>
                    <h3 class="feature-box-title mt-3">El nivel de calidad que entregamos en nuestros servicios.</h3>
                </div>
            </div> 
        </div>

    </div>    
</section>
<!-- =======================
about  -->