<!-- =======================
about  -->
<section id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center mb-md-0 mb-5">
                <h2 class="h1">Nosotros.</h2>
                <h6 class="mb-4 text-light-gray fw-normal">Blaxus Connect</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex">
                <img class="navbar-brand-item" src="assets/images/logos/figura.png" alt="Logo">
            </div>
            <div class="col-md-9">
                <div class="bg-grad h-100 w-100 d-table p-5 all-text-white">
                    <h2 class="font-weight-700 m-0 d-table-cell align-middle"><span class="d-block h4">Somos una empresa mexicana enfocada en ayudar a nuestros clientes a eficientar su operación a través de la creación de proyectos de Redes, Conectividad y Seguridad gracias a la experiencia de nuestros colaboradores con mas de 10 años en el sector tecnológico; lo que nos ayuda a resolver los principales retos a los que se enfrentan nuestros clientes</h2>
                </div>
            </div>
        </div>
    
        <div class="row mt-5">
            <!-- feature 1 -->
            <div class="col-md-4">
                <div class="feature-box h-100 icon-grad">
                    <div class="feature-box-icon"><i class="ti-world"></i></div>
                    <h3 class="feature-box-title">Cobertura Nacional</h3>
                </div>
            </div>
            <!-- feature 2 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-center icon-grad">
                    <div class="feature-box-icon"><i class="ti-pencil-alt"></i></div>
                    <h3 class="feature-box-title">Ingenieria Certificada</h3>
                </div>
            </div>
            <!-- feature 3 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-end icon-grad">
                    <div class="feature-box-icon"><i class="ti-search"></i></div>
                    <h3 class="feature-box-title">Enfoque Consultivo</h3>
                </div>
            </div>

            <div class="divider divider-grad mt-3 line_moving" id="scroll-line"></div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="percent-bg">
                    <!-- progress item -->
                    <div class="progress-grad">
                        <div class="text-center">
                            <h2 class="fw-bold display-5 mb-0 purecounter"  data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="95">0</h2>
                            <p class="mb-0">proyectos</p>
                        </div>
                        <h5 class="mb-2 mt-5">Nuestros proyectos se desarrollan en la industria privada.</h5>
                        <div class="progress">
                            <div class="progress-bar aos aos-init" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%"><span class="progress-percent">95%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="percent-bg">
                    <!-- progress item -->
                    <div class="progress-grad">
                        <div class="text-center">
                            <h2 class="fw-bold display-5 mb-0 purecounter"  data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="91">0</h2>
                            <p class="mb-0">Clientes</p>
                        </div>
                        <h5 class="mb-2 mt-5">En la satisfaccion de nuestros clientes.</h5>
                        <div class="progress">
                            <div class="progress-bar aos aos-init" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width:91%"><span class="progress-percent">91%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-4"></div>
            <div class="col-sm-6 mt-4">
                <div class="percent-bg">
                    <!-- progress item -->
                    <div class="progress-grad">
                        <div class="text-center">
                            <h2 class="fw-bold display-5 mb-0 purecounter"  data-purecounter-start="0" data-purecounter-delay="10" data-purecounter-duration="1" data-purecounter-end="90">0</h2>
                            <p class="mb-0">Calidad</p>
                        </div>
                        <h5 class="mb-2 mt-5">El nivel de calidad que entregamos en nuestros servicios.</h5>
                        <div class="progress">
                            <div class="progress-bar aos aos-init" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"><span class="progress-percent">90%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-4"></div>
        </div>
    </div>    
</section>
<!-- =======================
about  -->