<section class="section-np" id="contacto">
    <!-- =======================
	Banner innerpage -->
	<div class="text-center bg-overlay-dark-4" style="background:url(assets/images/bg/05.jpg) no-repeat; background-size: cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h6 class="display-6 fw-bold mt-9 mb-0">Llamanos al <a href="tel:+523314676519">(+52) 331-467-6519</a></h6>
					<h1 class="fw-bold display-1 mb-2 mb-md-n4">Contactanos</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->
    <div class="container">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="title text-center mt-4">
                <h2>¿Como podemos ayudarte?</h2>
                <p>Acercate y cuentanos tus necesidades. Dejalo en manos de nuestros exoertos.</p>
            </div>
        </div>
        <div class="row mt-3">
            <!-- feature 1 -->
            <div class="col-md-4">
            </div>
            <!-- feature 2 -->
            <div class="col-md-4">
                <div class="feature-box h-100 text-center">
                    <ul class="social-icons dark si-large" style="align-items: center;">
                        <li class="social-icons-item social-facebook">
                            <a class="social-icons-link" href="mailto:contacto@blaxusconnect.com" target="_blank"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li class="social-icons-item social-instagram">
                            <a class="social-icons-link" href="tel:+523314676519" target="_blank"><i class="fa fa-phone"></i></a>
                        </li>
                        <li class="social-icons-item social-twitter">
                            <a class="social-icons-link" href="https://api.whatsapp.com/send?phone=523314676519" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- feature 3 -->
            <div class="col-md-4">
            </div>

            <div class="divider divider-grad mt-3 line_moving" id="scroll-line"></div>
        </div>
    </div>
</section>