<!-- =======================
footer  -->
<footer class="footer footer-dark section-pt position-relative pt-4 mt-5">
    <div class="position-absolute top-0 start-0 w-100">
        <svg width="100%" height="70" viewBox="0 0 500 70" preserveAspectRatio="none" style="margin-top: -70px">
                <path d="M0,70 L0,40 Q250,-40 500,40 L580,70 Z" fill="#343a40" />
            </svg>
    </div>
    <div class="footer-content pb-3">
        <div class="container">
            <div class="row">
                <!-- Footer widget 2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget address" style="background-image: url('assets/images/world-map.png'); background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
                        <ul class="list-group list-group-borderless align-items-center text-center">
                            <li class="d-flex mb-3"><i class="me-3 display-8 ti-headphone-alt"></i> (251) 854-6308 </li>
                            <li class="d-flex mb-3"><i class="me-3 display-8 ti-email"></i> contacto@blaxusconnect.com</li>
                            <li class="d-flex mb-3"><i class="me-3 display-8 ti-time"></i>
                                <p>Mon - Fri: <strong>09:00 - 21:00</strong> <br>Sat & Sun: <strong>Closed</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer widget 1 -->
                <div class="col-md-6">
                    <div class="widget align-items-center text-center">
                        <a href="/">
                            <img class="navbar-brand-item" src="assets/images/logos/logo_vertical.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <!-- Footer widget 3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget align-items-center text-center">
                        <h6>Quick LInks</h6>
                        <ul class="nav flex-column primary-hover">
                            <li class="nav-item"><a class="nav-link" href="/#nosotros">Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#servicios">Servicios</a></li>
                            <li class="nav-item"><a class="nav-link" href="/#soluciones">Soluciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider mt-3"></div>
    <!--footer copyright -->
    <div class="footer-copyright py-3">
        <div class="container">
            <div class="align-items-center py-3 text-center">
                <!-- copyright text -->
                <div class="copyright-text">@{{ getAnio }} All Rights Reserved by Blaxus.</div>
                
            </div>
        </div>
    </div>
</footer>
<!-- =======================
footer  -->

<!-- Back to top -->
<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!--Vendors-->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>

<!--Template Functions-->
<script src="assets/js/functions.js"></script>

<script>
    // Capturamos el elemento de la línea
    const line = document.getElementById('scroll-line');

    // Manejamos el evento de scroll
    window.addEventListener('scroll', () => {
        // Ajustamos la longitud de la línea al desplazamiento vertical actual
        line.style.width = `${-30 + window.scrollY * 0.1}%`;
    });
</script>
