<!-- =======================
header Start-->
<header class="navbar-transparent navbar-sticky navbar-primary">
    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/" id="logos_cont">
                <!-- Logo -->
                <img class="navbar-brand-item" id="logo_color" src="assets/images/logos/logo_lateral.png" alt="Logo">
                <img class="navbar-brand-item" id="logo_blanco" src="assets/images/logos/logo_lateral_blanco.png" alt="Logo" style="opacity: 0; display: none;">
            </a>
            <!-- Menu opener button -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll navbar-nav-scroll ms-auto">
                    <!-- Menu item 1 Demos-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/#nosotros" id="demosMenu" aria-haspopup="true" aria-expanded="false">Nosotros</a>
                    </li>
                    <!-- Menu item 2 Blog-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/#soluciones" id="blogMenu" aria-haspopup="true" aria-expanded="false">Soluciones</a>
                    </li>
                    <!-- Menu item 3 Pages-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/#metodologias" id="pagesMenu" aria-haspopup="true" aria-expanded="false">Metodologias</a>
                    </li>
                    <!-- Menu item 4 Portfolio-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/#marcas" id="portfolioMenu" aria-haspopup="true" aria-expanded="false">Marcas</a>
                    </li>
                    <!-- Menu item 5 Elements-->
                    <li class="nav-item dropdown megamenu">
                        <a class="nav-link" href="/#servicios" id="elementsMenu" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    </li>
                    <!-- Menu item 6 Docs-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/#porque_nosotros" id="docMenu" aria-haspopup="true" aria-expanded="false">¿Porqué Blaxus?</a>
                    </li>
                </ul>
            </div>
            <!-- Main Menu End -->
            <!-- Header Extras Start-->
            <div class="navbar-nav">
                <!-- extra item Btn-->
                <div class="nav-item border-0 d-none d-lg-inline-block align-self-center" style="padding-left: 1rem;">
                    <a href="/#contacto" class=" btn btn-sm btn-grad mb-0">Contactanos!</a>
                </div>
            </div>
            <!-- Header Extras End-->
        </div>
    </nav>
    <!-- Logo Nav End -->
</header>
<!-- =======================
header End-->