<!-- =======================
metodologias -->
<section id="metodologias">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Asi lo hacemos...</h2>
            </div>
            <div class="col-md-6 mb-4">
                <h3 class="mb-4">01.- Identificamos tu necesidad</h3>
                <blockquote class="blockquote grad-line" cite="#">
                    <h5 class="mb-2 ">Nuestro equipo comercial se permea de tu negocio para detectar los retos de la compañia y trasladarios a la correcta solución tecnológica para tu empresa.</h5>
                </blockquote>
            </div>
            <div class="col-md-6 mb-4">
                <h3 class="mb-4">02.- Diseñamos tu proyecto</h3>
                <blockquote class="blockquote grad-line" cite="#">
                    <h5 class="mb-2 ">El equipo de especialistas inyecta su conocimiento tecnológico para brindarte la mejor propuesta tecnológica y de gran impacto transformacional para tu negocio.</h5>
                </blockquote>
            </div>
            <div class="col-md-6 mb-4">
                <h3 class="mb-4">03.- Adaptamos tu presupuesto</h3>
                <blockquote class="blockquote grad-line" cite="#">
                    <h5 class="mb-2 ">Contamos con una solida relación con los principales fabricantes y socios tecnológicos para llegar a los presupuestos financieros y económicos de tu compañia.</h5>
                </blockquote>
            </div>
            <div class="col-md-6 mb-4">
                <h3 class="mb-4">04.- Implementamos tu tecnología</h3>
                <blockquote class="blockquote grad-line" cite="#">
                    <h5 class="mb-2 ">Por que sabemos lo importante que es la operación de tu empresa, nuestros ingenieros y socios de negocio altamente capacitados implementan las tecnologias adquiridas con un impacto positivo en la transformación e innovación para tu negocia.</h5>
                </blockquote>
            </div>
        </div>
    </div>
</section>