<!-- =======================
service -->
<section class="bg-dark" id="porque_nosotros">
    <div class="container">
        <div class="row g-0 rounded overflow-hidden">
            <!--why us left-->
            <div class="col-lg-6 d-none d-lg-block bg-light" style="background:url(assets/images/bg/05.jpg) no-repeat; background-size:cover;">
            </div>
            <!--why us right-->
            <div class="col-lg-6 col-md-12 bg-grad px-4 py-5 p-lg-5 all-text-white">
                <div class="h-100">
                    <div class="title text-start p-0">
                        <h2 class=>¿Por qué BLAXUS?</h2>
                        <h4>Por qué nuestra misión es ayudarte a que tu negocio se mantenga operando mediante la transformación tecnológica.</h4>
                        <p>Esto lo logramos... </p>
                        <ul class="list-group list-group-borderless text">
                            <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Cuidando nuestra calidad en la entrega de nuestros servicios para no afectar tu operación.</li>
                            <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Brindamos total transparencia en nuestros acuerdos comerciales con fabricantes y socios comerciales.</li>
                            <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Contamos con el acompañamiento directo del fabricante antes, - durante y después de un proyecto.</li>
                            <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Apoyamos a nuestros clientes con la adopción tecnológica que adquieren con nosotros para sacar el mayor provecho de sus inversiones.</li>
                            <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>Desarrollando relaciones fructiferas con nuestros clientes a largo plazo.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
service -->