<!-- =======================
service -->

<section class="service pt-0" id="marcas">
    <div class="container">
        <div class="divider divider-grad"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Conectividad</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cisco.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/meraki.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/aruba.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/extreme.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>CCTV</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/hikvision.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/avigilon.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/vivotek.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/axis.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/milestone.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Ciberseguridad</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cisco.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/fortinet.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Infraestructura</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/panduit.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/commscope.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/belden.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/apc.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cdp.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
        </div>
    </div>
</section>
<!-- =======================
service -->