<!-- =======================
service -->

<section class="service pt-0" id="marcas">
    <div class="container">
        <div class="divider divider-grad"></div>
        <div class="row mt-4">
            <div class="col-md-12 align-self-center">
                <h1 class="fw-bold display-1 mb-2 mb-md-n4 gradient-text">Nuestras Marcas...</h1>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2 class="gradient-text-sub">Conectividad</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/meraki.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cisco.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/aruba.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/extreme.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2 class="gradient-text-sub">CCTV</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/hikvision.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/axis.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/vivotek.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/avigilon.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/milestone.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
            <div class="col-sm-6 col-md-20">
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2 class="gradient-text-sub">Ciberseguridad</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/fortinet.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cisco.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/sentinel.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2 class="gradient-text-sub">Infraestructura</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/panduit.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cdp.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/apc.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/belden.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/commscope.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/cyberpower.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2 class="gradient-text-sub">IoT - Internet de las cosas</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/lora.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/spin.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/tago.png" alt=""></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><img class="w-50" src="assets/images/clients/kerlink.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
service -->