<!-- =======================
Banner innerpage -->

<!-- =======================
Banner innerpage -->
<!-- =======================
features  -->
<section id="servicios">
    <div class="left bg-grad pattern-overlay-4">
        <div class="container">
            <div class="row all-text-white">
                <div class="col-md-12 align-self-center position-relative">
                    <h1 class="fw-bold display-1 mb-2 mb-md-n4 mt-9">Servicios Profesionales</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-0 justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <h2 class="h1 fw-bold">Servicios Profesionales</h2>
                <h5>Por que sabemos lo importante que es mantener operando tu negocio de forma continua te ofrecemos nuestros servicios profesionales de implementación y soporte para tus soluciones de redes y videovigilancia. Estos te brindaran confianza y seguridad de que la tecnologia responsable de mantener la operación de tu empresa siempre este operando de manera eficiente y proactiva para tus clientes</h5>
                <!-- Google play -->
                <a href="#" class="btn btn-dark text-start mb-md-0 mb-2 ">
                    <div class="d-flex align-items-center">
                        <span class="fas fa-users fa-2x me-3"></span>
                        <span class="d-block">
                        <strong class="d-block">Contactanos</strong>
                        </span>
                    </div>
                </a>
            </div>
            <!-- right -->
            <div class="col-md-6 mt-4">
                <img src="assets/images/mockups/serv_prof.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- =======================
features  -->