<!doctype html>
<html lang="en">
    {{> head}}
    <body>
        {{> header}}
        {{> main_banner}}
        {{> about}}
        {{> solutions}}
        {{> metodologias}}

        {{> footer}}
    </body>
</html>